/* App.css */
.front-page {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* App.css */
#player {
  margin: 0 auto; /* Center the player horizontally */
  display: block; /* Center the player within its container */
  
}


